.body.menu-hidden {
   margin: 0;
}

.body.menu-active {
   margin-left: 70px;
}
@media screen and (max-width: 675px) {
   .body.menu-active {
      margin: 0;
   }
}

#menu-container {
   height: 100%;
   position: fixed;
   top: 0;
   display: flex;
   flex-direction: column;
}

#menu-container > nav {
   flex-grow: 1;
}

body.light #menu-container {
   background-color: white;
   border-right: 1px solid #ccc;
}

body.dark #menu-container {
   background-color: #151515;
   border-right: 1px solid #5e5e5e;
}

.menu-container.hidden {
   left: -100px;
}

.menu-container.active {
   left: 0;
}
@media screen and (max-width: 500px) {
   .menu-container.active {
      width: 100%;
   }
}

.footer-menu {
   display: flex;
   justify-content: center;
}