.body.menu-hidden {
   margin: 0;
}

.body.menu-active {
   margin-left: 220px;
}
@media screen and (max-width: 675px) {
   .body.menu-active {
      margin: 0;
   }
}

#menu-container {
   height: 100%;
   position: fixed;
   top: 0;
   display: flex;
   flex-direction: column;
   z-index: 1000;
}

#menu-container > nav {
   flex-grow: 1;
}

body.light #menu-container {
   background-color: white;
   border-right: 0.01em solid #ccc;
}

body.dark #menu-container {
   background-color: #151515;
   border-right: 0.01em solid #5e5e5e;
}

.menu-container.hidden {
   left: -122px;
}

.menu-container.active {
   width: 220px;
   left: 0;
}
@media screen and (max-width: 500px) {
   .menu-container.active {
      width: 100%;
   }
}

.header-menu {
   width: auto;
   position: static;
   border-bottom: 0;
   display: flex;
}
.header-menu-container{
   margin: 0 20px;
   display: flex;
   align-items: center;
}

.switch-container {
   width: 40px;
   height: 20px;
   position: relative;
   border-radius: 8px;
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

body.light .switch-container{
   background-color: #f0f0f0;
   border: 1px solid #ccc;
}

body.dark .switch-container {
   background-color: #212121;
   border: 1px solid #5E5E5E;
}

.switch {
   width: 16px;
   height: 16px;
   position: absolute;
   margin: 0 1px;
   border-radius: 6px;
   transition: left 0.3s ease, background-color 0.3s ease;
}

.switch.light {
   left: 0;
   background-color: #ffffff;
   border: 1px solid #ccc;
}

.switch.dark {
   left: calc(95% - 18px);
   background-color: #000000;
   border: 1px solid #5E5E5E;
}

.nav-menu {
   margin: 0 12px;
}
.subtitle-menu {
   color: silver;
   font-family: 'Inter', sans-serif;
   font-size: 0.7em;
   font-weight: 400;
   margin: 0;
   padding: 10px 0;
   border-bottom: 0.01em solid #5e5e5e;
}
.menu-list {
   list-style: none;
   margin: 14px 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.menu-option {
   padding: 3.5px 5px;
   border-radius: 8px;
   display: flex;
   align-items: center;
   font-family: 'Inter', sans-serif;
   font-size: 0.9em;
   cursor: pointer;
}
.menu-option:hover {
   background-color: silver;
}

.footer-menu {
   display: flex;
   justify-content: center;
}