@import url('./../window/window.css');

.body.menu-hidden {
   margin: 0;
}

.body.menu-active {
   margin-left: 220px;
}
@media screen and (max-width: 1010px) {
   .body.menu-active {
      margin: 0;
   }
}
@media screen and (max-width: 675px) {
   .body.menu-active {
      overflow: hidden;
      touch-action: none;
   }
}

#menu-container {
   height: 100%;
   position: fixed;
   top: 0;
   display: flex;
   flex-direction: column;
   z-index: 1000;
   transition: ease 80ms;
}

#menu-container > nav {
   flex-grow: 1;
}

body.light #menu-container {
   /*background-color: white;*/
   background-color: #f9fafb;
   border-right: 0.05rem solid #EBEBEB;
}

body.dark #menu-container {
   /*background-color: #151515;*/
   background-color: #181818;
   border-right: 0.05rem solid #2E2E2E;
}

.menu-container.hidden {
   left: -160px;
}

.menu-container.active {
   width: 220px;
   left: 0;
}
@media screen and (max-width: 500px) {
   .menu-container.active {
      width: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
   }
}

.header-menu {
   width: auto;
   height: 48px;
   position: static;
   border-bottom: 0;
   display: flex;
}
.header-menu-container{
   margin: 0 20px;
   width: 100%;
   display: flex;
   align-items: center;
   /*border-bottom: 0.05rem solid #2E2E2E;*/
}

.switch-container {
   width: 40px;
   height: 20px;
   position: relative;
   border-radius: 8px;
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

body.light .switch-container:hover {
   background-color: #E6E6E6;
}

body.dark .switch-container:hover {
   background-color: #262626;
}

body.light .switch-container{
   background-color: #f0f0f0;
   border: 1px solid #ccc;
}

body.dark .switch-container {
   background-color: #212121;
   border: 1px solid #353535;
}

.switch {
   width: 16px;
   height: 16px;
   position: absolute;
   margin: 0 1px;
   border-radius: 6px;
   transition: left 0.3s ease, background-color 0.3s ease;
}

.switch.light {
   left: 0;
   background-color: #ffffff;
   border: 1px solid #ccc;
}

.switch.dark {
   left: calc(95% - 18px);
   background-color: #000000;
   border: 1px solid #353535;
}

.nav-menu {
   margin: 0 12px;
}
.subtitle-menu {
   color: #5e5e5e;
   font-family: 'Inter', sans-serif;
   font-size: 0.7em;
   font-weight: 400;
   margin: 0 5px;
   padding: 10px 0;
   /*border-bottom: 0.01em solid #5e5e5e;*/
}
.menu-list {
   list-style: none;
   margin: 5px 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.menu-option {
   padding: 5px;
   border-radius: 8px;
   border: 0.08rem solid transparent;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: 'Inter', sans-serif;
   font-size: 0.85em;
   user-select: none;
   cursor: pointer;
}
body.light .menu-option:hover {
   background-color: #E6E6E6;
   border: 0.08rem solid #D6D6D6;
}
body.dark .menu-option:hover {
   background-color: #292929;
   border: 0.08rem solid #3B3B3B;
}
.content-listitem {
   margin-left: 3px;
   display: flex;
   align-items: center;
   gap: 7px;
}
.body.light .content-listitem>svg>path {
   fill: #292929;
}
.body.dark .content-listitem>svg>path {
   fill: white;
}

.footer-menu {
   padding: 12px 0;
   margin: 0 12px;
   border-top: 0.01em solid #EBEBEB;
   display: flex;
   justify-content: center;
}
body.dark .footer-menu {
   border-top: 0.01em solid #2E2E2E;
}

.about-button {
   padding: 5px;
   border: 1px solid #454545;
   border-radius: 8px;
   flex-grow: 1;
   text-align: center;
   text-decoration: none;
}
body.light .about-button {
   border: 1px solid #D6D6D6;
   color: silver;
}
body.light .about-button:hover {
   color: black;
   background-color: #E6E6E6;
}
body.dark .about-button {
   border: 1px solid #2E2E2E;
   color: silver;
}
body.dark .about-button:hover {
   color: white;
   background-color: #1A1A1A;
}