@import url('./windowContact.css');

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.modal.ativo {
  opacity: 1;
  visibility: visible;
}

.modal > * {
  background: white;
  /*padding: 1rem;*/
  border-radius: 18px;
  max-width: 500px;
  width: 90%;
}