/*@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');*/

@import url('./components/menu/_menu.css');

html {
   scrollbar-width: thin;
}

body {
   height: 100dvh;
   position: relative;
   margin: 0;
   transition: background-color 0.3s ease;
}

body.light {
   background-color: #ffffff;
   color: #000000;
}

body.dark {
   background-color: #151515;
   color: #ffffff;
}

header {
   width: 100%;
   height: 48px;
   position: absolute;
}

/*body.light header {
   border-bottom: 0.5px solid black;
}

body.dark header {
   border-bottom: 0.5px solid #ccc;
}*/

.header-container {
   height: 100%;
   margin: 0 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#name {
   /**/
}

.user-profile-container {
   display: flex;
   align-items: center;
   gap: 18px;
}

#menu-button {
   background-color: transparent;
   width: 30px;
   height: 30px;
   margin: 0;
   border: none;
   border-radius: 6px;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

body.light #menu-button:hover {
   background-color: #dedede;
}
body.dark #menu-button:hover {
   background-color: #212121;
}

body.dark #border-menu-icon {
   stroke: white;
}
body.dark #line-menu-icon {
   fill: white;
}
body.dark .details-menu-icon {
   fill: white;
}

.switch-container {
   width: 40px;
   height: 20px;
   position: relative;
   border-radius: 6px;
   display: flex;
   align-items: center;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

body.light .switch-container{
   background-color: #f0f0f0;
   border: 1px solid black;
}

body.dark .switch-container {
   background-color: #333333;
   border: 1px solid #ccc;
}

.switch {
   width: 16px;
   height: 16px;
   position: absolute;
   margin: 0 1px;
   border-radius: 4px;
   transition: left 0.3s ease, background-color 0.3s ease;
}

.switch.light {
   left: 0;
   background-color: #ffffff;
   border: 1px solid black;
}

.switch.dark {
   left: calc(95% - 18px);
   background-color: #000000;
   border: 1px solid #ccc;
}

main {
   /*height: 100%;
   max-width: 1000px;
   margin: 0 auto;*/
   padding-top: 48px;
}